<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mover a Montanha - Admin</title>
  <meta name="description" content="politica blog">
  <meta name="author" content="PUSHVFX">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel='stylesheet' href='/admin/css/main.css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class='row' style="margin:0px;">
    <div style="background-image: url('/home/img/frontmontanhaoverlayed.jpg'); background-position:center center; background-repeat: no-repeat; margin-top:-20px; height:35vh; width:100%;">
      <div style="color:white; width:50%; margin:auto; text-align:center;">
        <h1 style="padding-top:6vw; font-size:4vh;"> Mover a Montanha </h1>
        <hr>
        <h1 style="font-size:4vh;">Recupera&ccedil;&atilde;o de Palavra-Passe</h1>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row' style="text-align:center;">
      <br>
      <br>
      <h4> <%= message %></h4>
      <br>
      <br>
      <a href="/admin" class="btn btn-primary">Voltar &agrave; p&aacute;gina de Entrada</a>
    </div>

  </div>
</body>
</html>
