<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mover a Montanha - Admin</title>
  <meta name="description" content="politica blog">
  <meta name="author" content="PUSHVFX">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel='stylesheet' href='/admin/css/main.css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class='row' style="margin:0px;">
    <div style="background-image: url('/home/img/frontmontanhaoverlayed.jpg'); background-position:center center; background-repeat: no-repeat; margin-top:-20px; height:35vh; width:100%;">
      <div style="color:white; width:50%; margin:auto; text-align:center;">
        <h1 style="padding-top:6vw; font-size:4vh;"> Mover a Montanha </h1>
        <hr>
        <h1 style="font-size:4vh;">Recupera&ccedil;&atilde;o de Palavra-Passe</h1>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row' style="text-align:center;">
      <br>
      <br>
      <h4> Por favor indique o <u>email</u> associado &agrave; sua conta, para podermos enviar-lhe uma mensagem com o link de recupera&ccedil;&atilde;o </h4>
      <div class='col-sm-4 col-sm-offset-4 text-center' style="margin-top:2vh;">
        <form method='post' action='/api/pwdRecoverMail'>
          <input style="text-align:center;"type='text' placeholder='Introduza aqui o seu email.' name='email' ng-model='email' class='form-control'>
          <br>
          <br>
          <input type='submit' class='btn btn-primary' value='Recuperar Palavra-Passe'>
        </form>
        <br>
        <br>
        <!--<a href='/admin/register'>Register a new account</a>-->
      </div>
    </div>
  </div>
</body>
</html>
