<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Mover a Montanha - Admin</title>
  <meta name="description" content="blog politica">
  <meta name="author" content="PUSHVFX">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class='row' style="margin:0px;">
  <div style="background-image: url('/home/img/frontmontanhaoverlayed.jpg'); margin-bottom:2vh; background-position:center center; background-repeat: no-repeat; margin-top:-20px; height:35vh; width:100%;">
    <div style="color:white; width:50%; margin:auto; text-align:center;">
      <h1 style="padding-top:6vw; font-size:4vh;"> Mover a Montanha </h1>
      <hr>
      <h1 style="font-size:4vh;">Administra&ccedil;&atilde;o - Novo Administrador</h1>
    </div>
  </div>
</div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4 text-center'>
        <form <form method='post' action='/register' style="margin-bottom:2vh;">
          <input type='text' placeholder='Email' name='email' ng-model='user.email' class='form-control'>

          <input type='password' placeholder='Password' name='password' ng-model='user.password' class='form-control'>
          <input style="margin-top:2vh;" type='submit' class='btn btn-primary' value='Registar'>
        </form>
        <a href='/admin'>Entrar com uma conta existente.</a>
      </div>
    </div>
  </div>
</body>
</html>
