<div class="container" id="adminHeader">
  <div class="panel panel-default" style="height: 51vw;">
    <div class="panel-heading">
      <h4 style="display: inline-block;">Novo Autor</h4><div class='btn btn-primary pull-right' style="display: inline-block;" ng-click='addAuthor(author)'>Adicionar Autor</div>
    </div>
    <div class="panel-body">
      <div class='col-lg-10'>
        <input type='text' placeholder='Nome do Autor' ng-model='author.name' name='Author' class='form-control'>
        <br>
        <input type='text' placeholder='Escreva aqui uma frase que represente o autor...' ng-model='author.quote' name='Author' class='form-control'>
        <br>
      </div>
      <div class="row">
          <div class="col-lg-10 full-height" style="">
              <div class="col-md-12 full-height" id="pad" style="height: 39vw;" text-angular ng-model="author.bio" placeholder='Escreva aqui a biografia do autor...'></div>
              <div class="col-md-12 full-height" id="markdown">
                <div btf-markdown='post.body'></div>
              </div>
          </div>
          <div class="col-lg-2" style="float:left;">
            <img style="width:100px; height:100px; margin-left: 3.4vw; margin-bottom:2vh; border-radius:50%;" class="post-thumbnail" src="{{ author.photo ? author.photo : defaultPhoto }}"/>
            <br>
            <div style=" width:8vw; margin:auto; color:#444; border:1px solid #CCC; background:#DDD; box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);    cursor:pointer; vertical-align:middle; padding: 5px; text-align: center;"
            class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
              ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file)"
              ngf-resize="{width: 100, height: 100}"> Escolher Fotografia </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
