<div class="container" style="width:90%;">
  <div class='row full-height'>
    <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 style="display: inline-block;">Utilizadores</h4>
          </div>
          <div class="panel-body">
            <ul style="list-style-type: none;">
              <li ng-show="!users.length">N&atilde;o existe nenhum utilizador.</li>
              <br>
              <div ng-repeat='user in users | orderBy:"name"'>
                <li class ="clist-group-item">
                  <div class="col-md-12">
                    <div class="col-md-3">
                      <span class="label label-success" ng-show="user.level == 3">Autor</span>
                      <span class="label label-danger" ng-show="user.level == 1">Super Administrador</span>
                      <span class="label label-warning" ng-show="user.level == 2" >Administrador</span>
                    </div>
                    <div class="col-md-7">
                      <p style="display:inline-block; margin-right:2vw;"> {{ user.email }}</p>
                    </div>
                    <div class="col-md-2">
                      <div style="float:right; margin-left:4vw; display:inline-block; cursor:pointer;">
                        <img ng-if="user.email != currentUser.email" style="margin-top:4px;" ng-click="removeUser( user )" src="/home/img/icons/delete.png">
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 style="display: inline-block;">Novo Utilizador</h4>
            </div>
            <div class="panel-body">
                <form name="form" ng-submit="registerUser(user)">
                  <input type='text' placeholder='Email' name='email' ng-model='user.email' class='form-control'>
                  <br>
                  <input type='password' placeholder='Password' name='password' ng-model='user.password' class='form-control'>
                  <br>
                  <select class='form-control' name="level" id="level" ng-model='user.level' required>
                    <option value="">Selecione o nivel</option>
                    <option value="1">Super Administrador</option>
                    <option value="2">Administrador</option>
                    <option value="3">Autor</option>
                  </select>
                  <br>
                  <select ng-show="user.level == 2 || user.level == 3" name="author" class="form-control" id="author" ng-model="user.author" data-ng-options="author as author.name for author in authorsAvailable track by author._id">
                    <option value="">Escolha o autor correspondente</option> <!-- not selected / blank option -->
                  </select>
                  <select ng-show="user.level == 1" name="author" class="form-control" id="author" ng-model="user.author" data-ng-options="author as author.name for author in authorsAvailable track by author._id">
                      <option value="">Escolha o autor (Não é obrigatório)</option> <!-- not selected / blank option -->
                  </select>
                  <input style="margin-top:2vh;" type='submit' class='btn btn-primary' value='Registar'>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>
