<div class="container" id="adminHeader">
  <div class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-4'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Lista de Autores</h3>
        </div>
        <div class="panel-body" style="overflow:auto;">
          <ul class="list-group">
            <li ng-show="!authors.length">N&atilde;o existe nenhum autor em base de dados.</li>
            <div class="col-sm-12" ng-repeat='author in authors | orderBy:"name"' style="margin-top:1vh; border-radius:5%;" ng-style="{ border: activeAuthor == author ? 'solid 1px #87A6AC' : '' , backgroundColor: activeAuthor == author ? '#17618C' : ''}">
              <li class="list-group-item" ng-click='setActive(author)' style="height:70px;">
                <div class="col-sm-2" style="padding:0px;">
                  <img class="img-responsive" style="border-radius:50%; max-height:50px;" src="{{ author.photo }}"></img>
                </div>
                <div class="col-sm-8" style="padding:0px;">
                  <h4 style="font-size:14px; text-align:center; text-decoration:bold; font-size:1vw; margin-top:15px;"  btf-markdown='author.name'></h4>
                </div>
                <div class="col-sm-2" style="padding:0px;">
                  <img class="btn btn-default" style="cursor:pointer; margin-top:10px;" ng-click="removeAuthor( author ); $event.stopPropagation();" src="/home/img/icons/delete.png">
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class='col-sm-8' ng-show="activeAuthor && showAuthorEditionDiv">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 123px;">
          <div class="col-md-6">
            <h2  contenteditable="true" ng-model="activeAuthor.name" style="margin-top: 33px;">{{activeAuthor.name}}</h2>
          </div>
          <div  class="col-md-4">
            <img class="img-responsive" style="float:right; border-radius:50%;" class="post-thumbnail" src="{{ activeAuthor.photo ? activeAuthor.photo : defaultPhoto }}"/>
            <br>
            <div style=" width:8vw; margin:auto; width: 11vw; margin: auto; margin-top: 2vh; text-align:center;  color:#444;    border:1px solid #CCC;    background:#DDD;    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);    cursor:pointer; "
            class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-change="upload(file)"
            ngf-resize="{width: 100, height: 100}"> Escolher Fotografia </div>
          </div>
          <div  class="col-md-2">
            <div class='btn btn-primary pull-right' style="margin: auto; margin-top: 35px;" ng-click='editAuthor(activeAuthor._id,activeAuthor)'>Editar Autor</div>
          </div>
        </div>
        <div class="panel-body">
          <br>
          <div class="col-lg-12" >
            <input type='text' placeholder='Escreva aqui uma frase que represente o autor...' ng-model='activeAuthor.quote' name='Author' class='form-control'>
          </div>
          <br>
          <div style="margin-top:2vh; height: 39vw;" class="col-sm-12" id="pad" text-angular ng-model="activeAuthor.bio" style="height:80vh;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
