<div class="container">
<div class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-4' style="border-right:1px solid black; margin-bottom:4vh;">
        <h3>Lista de Autores</h3>
        <ul class="list-group">
            <li ng-show="!authors.length">N&atilde;o existe nenhum autor em base de dados.</li>
            <div ng-repeat='author in authors track by $index' style="margin-top:4vh;">
            <li
                class="list-group-item"
                ng-class="{'active': (activeAuthor === author)}"
                ng-click='setActive(author)'>
                <br>
                <p style="display:inline-block;">
                  <img style="display:inline-block; border-radius:50%; width:6vw; float:left;" src="{{ author.photo }}"></img>
                  <h4 class="list-group-item-heading" style="display:inline-block; float:right; width:50%; margin-top:15%; height:100%; font-size:14px; text-align:center;" btf-markdown='author.name'></h4>
                </p>
            </li>
            <div style="float:right; cursor:pointer;"><img style="margin-top:4px;" ng-click="removeAuthor( author )" src="/home/img/icons/delete.png"></div>
            </div>
        </ul>
    </div>
    <!-- /Sidebar -->
    <!--<div class='col-sm-4' style="width:0.5px; height:90vh; border:0.5px solid black; padding:0px; position:absolute; margin-left:20.2vw;">-->

    <!-- Page Content -->
    <div class='col-sm-8' ng-show="activeAuthor">
        <h2 contenteditable="true" ng-model="activeAuthor.name">{{activeAuthor.name}}</h2>
        <div id="pad" text-angular ng-model="activeAuthor.bio" style="height:80vh;"></div>
        <div class='btn btn-success pull-right' style="margin-bottom:10px;" ng-click='editAuthor(activeAuthor._id,activeAuthor)'>Editar Autor</div>
    </div>
        </div>
</div>
</div>
