<div class="container" id="adminHeader">
  <div class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-12'>
      <div class="panel panel-default" style="margin-bottom: 0;">
        <div class="panel-heading" style="height: 56px;">
          <h4 style="display: inline-block;">Palavras-Chave</h4>
          &nbsp;&nbsp;&nbsp;<input type="text" style="margin:10px; font-size:0.85vw;" ng-model="newCategory" />
          <span id="addCategory" class="glyphicon glyphicon-plus-sign" ng-click="addCategory( newCategory )"></span>
        </div>
        <div class="panel-body" style=" overflow:auto; height: 85vh;">
          <div ng-show="!categories.length">
            <p>N&atilde;o existe nenhuma categoria em base de dados.</p>
          </div>
          <div ng-show="categories.length">
            <div class="col-sm-3" ng-repeat='category in categories | orderBy:"name"' style="margin-top:1vh;">
              <div class="panel panel-default">
                <div class="panel-body col-sm-12" style="border:1px solid darkgrey; border-radius:5%; padding:0px;">
                  <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-8" style="padding:0px;">
                      <input type="text" style="margin:10px; font-size:0.85vw;" ng-model="category.tag" />
                    </div>
                    <div class="col-sm-4" style="padding:0px; margin-top:1vh;" >
                      <div style="float:right; display:inline-block; cursor:pointer;">
                        <button class="btn btn-default" ng-click="saveCategory( category )"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                        <button class="btn btn-default" ng-click="removeCategory( category )"><span class="glyphicon glyphicon-trash"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
