<div class='row' id="adminHeader">
  <!-- Sidebar -->
  <div class='col-md-4' ng-init="selectedFilter = '-created_at'">
    <div class="panel panel-default" style="height: 91vh;">
      <div class="panel-heading">
        <div class="row" style="margin:0px; border-bottom:1px solid black; margin-bottom:1vh;">
          <div class="col-sm-12" style="padding:0px;">
            <div class="col-sm-6" style="padding:0px;">
              <h3 style="float: left; margin-top: 6px;">Artigos Publicados</h3>
            </div>
            <div class="col-sm-6" style="padding:0px;">
              <div id="ordem" style="float: right; text-align: right; margin-top: 8px;">
                <div style="display:inline-block;" ng-if="selectedFilter == 'created_at'">&nbsp;&nbsp;Ordem Crescente</div>
                <div style="display:inline-block;" ng-if="selectedFilter == '-created_at'">&nbsp;&nbsp;Ordem Decrescente</div>
                <div class="glyphicon glyphicon-arrow-down" ng-style="selectedFilter == '-created_at' && {'color':'green'} || {'color':'black'}" style="cursor:pointer;" ng-click="switchSelectedFilter('-created_at')"></div>
                <div class="glyphicon glyphicon-arrow-up" ng-style="selectedFilter == 'created_at' && {'color':'green'} || {'color':'black'}"  style="cursor:pointer;" ng-click="switchSelectedFilter('created_at')"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:0px;">
          <div class="col-sm-12" style="padding:0px;">
            <div class="col-sm-4" style="text-align:center; padding:0px;">
              <p style="text-align:center; margin:0px;" id="filtertitle">Palavras-Chave</p>
            </div>
            <div class="col-sm-4" style="text-align:center; padding:0px;">
              <p style="text-align:center; margin:0px;" id="filtertitle">Autores</p>
            </div>
            <div class="col-sm-4" style="text-align:center; padding:0px;">
              <p style="text-align:center; margin:0px;" id="filtertitle">Data</p>
            </div>
          </div>
          <div class="col-sm-12" style="padding:0px;">
            <div class="col-sm-4" style="padding:8px 12px;">
              <select style="font-family: caslonregular; font-size: 16px; text-align-last:center;" class="form-control" ng-model="categoriesSelected" ng-change="changedCategories(categoriesSelected._id)" ng-init="categoriesSelected = allC[0]" data-ng-options="category.tag for category in allC">
              </select>
            </div>
            <div class="col-sm-4" style="padding: 8px 12px;">
              <select style="font-family: caslonregular;  font-size: 16px; text-align-last:center;" class="form-control" ng-model="authorsSelected" ng-change="changedAuthors(authorsSelected._id)" ng-init="authorsSelected = allA[0]" data-ng-options="author.name for author in allA">
              </select>
            </div>
            <div class="col-sm-4" style="padding: 8px 12px;">
              <select style="font-family: caslonregular; font-size: 16px; text-align-last:center;" class="form-control" ng-model="dateSelected" ng-change="changeMonthDropDown(dateSelected)" ng-init="dateSelected = monthList[0]" data-ng-options="month as month for month in monthList">
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" style=" overflow:auto; height: 75vh;">
        <ul class="list-group">
          <li ng-show="!posts.length">N&atilde;o existe nenhum artigo publicado.</li>
          <div class="row" ng-repeat='post in posts | orderBy:selectedFilter' style="margin-top:1vh; border-bottom:1px solid darkgrey;">
            <li ng-show="post.author._id == currentUser.author || currentUser.author == undefined" style="cursor: pointer; border: none; padding: 0;" class="list-group-item" ng-click='setActive(post)'>
              <div class = "panel" style="margin-bottom:5px;" ng-style="{ border: activePost == post ? 'solid 1px #87A6AC' : '' }" ng-class="{'panel-success' : post.isDraft, 'panel-danger' : !post.isDraft}">
                <div class="panel-heading" style="padding-top:5px; padding-bottom:0px;">
                  <h4 class="panel-title"><b>{{post.title}}</b></h4><h6>{{ post.author.name }}</h6>
                </div>
                <div class="panel-body" style="padding-top:0px; padding-bottom:0px;">
                  <div class="list-group-item-text" btf-markdown='trimContentTo140Char(post)'></div>
                </div>
                <div class="panel-footer" style="padding:0px;">
                  <div class="col-sm-12" style="padding-top:1vh;">
                    <div class="col-sm-6" style="padding:0px;">
                      <h6 style="margin: 0px;"><b>Criado a :</b> {{post.created_at | date :  "MMM d, y - HH:mm" }} </h6>
                    </div>
                    <div class="col-sm-6" style="padding:0px;">
                      <h6 style="margin: 0px; float:right;"><b>Actualizado a :</b> {{post.updated_at | date :  "MMM d, y - HH:mm" }}</h6>
                    </div>
                  </div>
                  <div class="col-sm-12" style="padding-bottom:1vh;">
                    <div class="col-sm-8" style="padding:0px;">
                      <h6 ng-show="post.isAuto" style="margin: 0; margin-top: 7px; width: 70%; float: left;"><b>Programado para Publicação :</b> {{post.programmed_to_post | date :  "MMM d, y - HH:mm" }}</h6>
                      <h6 ng-show="!post.isAuto" style="margin: 0; margin-top: 7px; width: 70%; float: left;"><b>Não Programado / Publicação Manual</b></h6>
                    </div>
                    <div class="col-sm-4" style="padding:0px;">
                      <div style="cursor:pointer; display:inline-block; float:right; margin-left:10px;"><img ng-click="removePost( post._id ); $event.stopPropagation();" src="/home/img/icons/delete.png" alt="Apagar Artigo"></div>
                      <div style="cursor:pointer; display:inline-block; float:right; margin-left:10px;"><img ng-if="post.isAuto" ng-click="changePubMode(post); $event.stopPropagation();" ng-src="/home/img/icons/auto.png" alt="Rascunho"></div>
                      <div style="cursor:pointer; display:inline-block; float:right; margin-left:10px;"><img ng-if="!post.isAuto" ng-click="changePubMode(post); $event.stopPropagation();" ng-src="/home/img/icons/manual.png" alt="Rascunho"></div>
                      <div style="cursor:pointer; display:inline-block; float:right; margin-left:10px;"><img ng-if="post.isDraft" ng-click="draftIt(post); $event.stopPropagation();" ng-src="/home/img/icons/public.png" alt="Rascunho"></div>
                      <div style="cursor:pointer; display:inline-block; float:right; margin-left:10px;"><img ng-if="!post.isDraft" ng-click="draftIt(post); $event.stopPropagation();" ng-src="/home/img/icons/private.png" alt="Rascunho"></div>
                      <div style="cursor:pointer; display:inline-block; float:right; "><img ng-if="post.isHighlight" ng-src="/home/img/icons/featured.png" alt="Rascunho"></div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <div class='col-md-8' ng-show="activePost && showEditionDiv">
    <form ng-submit="editPost(activePost._id,activePost)">
      <div class="panel panel-default" style="margin-bottom: 0;">
        <div class="panel-heading">
          <div class="row" style="margin:0px;">
            <div class="col-sm-12">
              <div class="col-sm-9">
                <div class="col-sm-12" style="padding:0px;">
                  <h3 contenteditable="true" style="margin-top: 4px;" ng-model="activePost.title">{{activePost.title}}</h3>
                </div>
                <div class="col-sm-12" style="padding:0px;">
                  <div class="col-sm-6" style="padding:0px;">
                    <p style="display:inline-block;">por&nbsp;&nbsp;</p>
                    <select ng-show="currentUser.author == undefined" class="form-control" style="display:inline-block; width:85%;" name="authorSelect" id="authorSelect" ng-model="selectedAuthor" ng-change="selectAuthor(selectedAuthor)"
                    data-ng-options="author as author.name for author in authors">
                  </select>
                  <p ng-show="currentUser.author != ''" style="display:inline-block; width:20%;">{{currentUserName}}</p>
                </div>
                <div class="col-sm-6" style="padding:0px; margin-top: 8px;">
                  <div class="col-sm-1" style="padding:0px;">
                    <input type="checkbox" class="form-control" ng-model="post.isHighlight" style="display:inline-block; margin:0px; float:right; height:20px; padding:0px;"></input>
                  </div>
                  <div class="col-sm-5" style="padding:0px;">
                    <p style="padding:0px; display:inline-block; float:left;">&Eacute; Destaque?</p> <img ng-if="post.isHighlight" style="margin-left:10px; margin-top:-4px;" ng-src="/home/img/icons/featured.png" alt="Rascunho">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
              <button class='btn btn-primary' style="display:inline-block; float:right;" type="submit">Editar Artigo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body" style="margin-top:1.5vh;">
        <div class="col-sm-4" style="float:right; margin:0px;">
          <div class="col-sm-12 text-center" style="padding:0px;">
            <div class="col-sm-6 text-center" style="cursor:pointer; padding:0px;">
              <img style="width:80%;" ng-init="creationImage = '/home/img/icons/date_creation.png'" src="{{creationImage}}" ng-click="creationDateModal()" ng-mouseover="creationImage = '/home/img/icons/date_creation_hover.png'" ng-mouseout="creationImage = '/home/img/icons/date_creation.png'">
              <p style="text-align:center; font-size:12px;">{{ activePost.created_at | date :  "MMM d, y - HH:mm" }}</p>
            </div>
            <div class="col-sm-6 text-center" style="cursor:pointer; padding:0px;">
              <img style="width:80%;" ng-init="autoImage = '/home/img/icons/date_auto.png'" src="{{autoImage}}" ng-disable="!activePost.isAuto" ng-click="autoPublicationModal()" ng-mouseover="autoImage = '/home/img/icons/date_auto_hover.png'" ng-mouseout="autoImage = '/home/img/icons/date_auto.png'">
              <p ng-show="activePost.isAuto" style="text-align:center; font-size:12px;">{{ activePost.programmed_to_post | date :  "MMM d, y - HH:mm" }}</p>
              <p ng-show="activePost.isAuto && activePost.programmed_to_post==null" style="text-align:center; font-size:10px;">Por favor escolha uma data e hora para publica&ccedil;&atilde;o</p>
              <p ng-show="!activePost.isAuto" style="text-align:center; font-size:12px;">N&atilde;o Programado</p>
            </div>
          </div>
          <div class="col-sm-12" style="padding:0px;">
            <div class="col-sm-6 text-center" style="padding:0px;">
              <div class='btn' style="white-space: normal; font-size:0.7vw; padding:4px;" ng-class="{'btn-success' : activePost.isAuto, 'btn-danger' : !activePost.isAuto}" style="cursor:pointer;" ng-click="changePubMode(activePost)">
                <img style="display:inline-block;" ng-show="activePost.isAuto"  ng-src="/home/img/icons/auto.png" alt="Auto Publicação">
                <p ng-show="activePost.isAuto" style="display:inline-block; text-align:center; margin: 0px;">Agendar Pub.</p>
                <img style="display:inline-block;" ng-show="!activePost.isAuto"  ng-src="/home/img/icons/manual.png" alt="Publicação Manual">
                <p ng-show="!activePost.isAuto" style="display:inline-block; text-align:center; margin: 0px;">Pub. Manual</p>
              </div>
            </div>
            <div class="col-sm-6 text-center" style="padding:0px;">
              <div class='btn' style="white-space: normal; font-size:0.7vw;" ng-class="{'btn-success' : activePost.isDraft, 'btn-danger' : !activePost.isDraft}" style="cursor:pointer;" ng-click="draftIt(activePost)">
                <img style="display:inline-block;" ng-show="activePost.isDraft"  ng-src="/home/img/icons/public.png" alt="Rascunho">
                <p ng-show="activePost.isDraft" style="display:inline-block; text-align:center; margin: 0px;">Artigo Visivel</p>
                <img style="display:inline-block;" ng-show="!activePost.isDraft"  ng-src="/home/img/icons/private.png" alt="Rascunho">
                <p ng-show="!activePost.isDraft" style="display:inline-block; text-align:center; margin: 0px;">Rascunho</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div>
            <textarea placeholder='Resumo do Artigo' style="height:17vh;" ng-model='activePost.recap' name='title' class='form-control'></textarea>
          </div>
          <br>
          <div>
            <tags-input on-tag-removed="removeTag($tag)" ng-if="tagsLoaded" track-by-expr="$index" replace-spaces-with-dashes="false" ng-model="tags" tag-class="{even: $index % 2 == 0, odd: $index % 2 != 0}">
              <auto-complete source="loadTags($query)" track-by-expr="$index" load-on-focus="true" match-class="{even: $index % 2 == 0, odd: $index % 2 != 0}"></auto-complete>
            </tags-input>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div id="pad" text-angular ng-model="activePost.body" style="height:54vh;"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
