<div class='row' style="width:90%; margin: auto; margin-top: -71px; padding-top: 64px;">
    <!-- Sidebar -->
    <div class='col-md-4' ng-init="selectedFilter = '-created_at'">
        <div class="panel panel-default" style="height: 91vh;">
            <div class="panel-heading" style="height: 56px;">
                <h3 style="width: 49%; float: left; margin-top: 6px;">Artigos Publicados</h3>
                <div id="ordem" style="width: 49%; float: right; text-align: right; margin-top: 8px;">
                    <div style="display:inline-block;" ng-if="selectedFilter == 'created_at'">&nbsp;&nbsp;Ordem Crescente</div>
                    <div style="display:inline-block;" ng-if="selectedFilter == '-created_at'">&nbsp;&nbsp;Ordem Decrescente</div>
                    <div class="glyphicon glyphicon-arrow-down" ng-style="selectedFilter == '-created_at' && {'color':'green'} || {'color':'black'}" style="cursor:pointer;" ng-click="switchSelectedFilter('-created_at')"></div>
                    <div class="glyphicon glyphicon-arrow-up" ng-style="selectedFilter == 'created_at' && {'color':'green'} || {'color':'black'}"  style="cursor:pointer;" ng-click="switchSelectedFilter('created_at')"></div>
                </div>
            </div>
            <div class="panel-body" style=" overflow:auto; height: 85vh;">
                <ul class="list-group">
                    <li ng-show="!posts.length">N&atilde;o existe nenhum artigo publicado.</li>
                    <div ng-repeat='post in posts | orderBy:selectedFilter' style="margin-top:4vh;">
                        
                        <li ng-show="post.author._id == currentUser.author || currentUser.author == undefined" style="cursor: pointer; border: none; padding: 0;" class="list-group-item" ng-click='setActive(post)'>
                            <div class = "panel" ng-style="{ border: activePost == post ? 'solid 1px #87A6AC' : '' }" ng-class="{'panel-success' : post.isDraft, 'panel-danger' : !post.isDraft}">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><b>{{post.title}}</b></h4><h6>{{ post.author.name }}</h6>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group-item-text" btf-markdown='trimContentTo140Char(post)'></div>
                                </div>
                                <div class="panel-footer" style="height: 58px;">
                                    <h6 style="margin: 0; margin-top: 3px; width: 80%; float: left;"><b>Criado a :</b> {{post.created_at | date :  "MMM d, y - HH:mm" }} </h6>
                                    <h6 style="margin: 0; margin-top: 7px; width: 80%; float: left;"><b>Ultima Actualização :</b> {{post.updated_at | date :  "MMM d, y - HH:mm" }}</h6>
                                    <div style="float:right; cursor:pointer;"><img style="margin-top:4px; margin-right:12px;" ng-if="post.isDraft" ng-click="draftIt(post)" ng-src="/home/img/icons/public.png" alt="Rascunho"></div>
                                    <div style="float:right; cursor:pointer;"><img style="margin-top:4px; margin-right:12px;" ng-if="!post.isDraft" ng-click="draftIt(post)" ng-src="/home/img/icons/private.png" alt="Rascunho"></div>
                                    <div style="float:right; cursor:pointer;"><img style="margin-top:4px; margin-right:12px;" ng-click="removePost( post._id )" src="/home/img/icons/delete.png" alt="Apagar Artigo"></div>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class='col-md-8' ng-show="activePost">
        <div class="panel panel-default" style="margin-bottom: 0;">
            <div class="panel-heading" style="height: 56px;">
                <h3 contenteditable="true" style="display:inline-block; margin-top: 4px;" ng-model="activePost.title">{{activePost.title}}</h3>
                <p style="display:inline-block;">&nbsp;&nbsp;por&nbsp;&nbsp;</p>
                <select ng-show="currentUser.author == undefined" class="form-control" style="display:inline-block; width:30%;" name="authorSelect" id="authorSelect" ng-model="selectedAuthor" ng-change="selectAuthor(selectedAuthor)"
                data-ng-options="author as author.name for author in authors">
                </select>
                <p ng-show="currentUser.author != ''" style="display:inline-block; width:20%;">{{currentUserName}}</p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class='btn btn-primary' style="display:inline-block; float: right;" ng-click='editPost(activePost._id,activePost)'>Editar Artigo</div>
            </div>
            <div class="panel-body">
                <div>
                    <textarea placeholder='Resumo do Artigo' ng-model='activePost.recap' name='title' class='form-control'></textarea>
                </div>
                <br>
                <div>
                <tags-input on-tag-removed="removeTag($tag)" ng-if="tagsLoaded" track-by-expr="$index" replace-spaces-with-dashes="false" ng-model="tags" tag-class="{even: $index % 2 == 0, odd: $index % 2 != 0}">
                    <auto-complete source="loadTags($query)" track-by-expr="$index" load-on-focus="true" match-class="{even: $index % 2 == 0, odd: $index % 2 != 0}"></auto-complete>
                </tags-input>
                <br>
                </div>
                <div id="pad" text-angular ng-model="activePost.body" style="height:68vh;"></div>
            </div>
        </div>
    </div>
</div>

