<div class="container" style="width:90%;">
    <div class="panel panel-default" style="height: 51vw;">
        <div class="panel-heading">
            <h4 style="display: inline-block;">Subscritores</h4>
        </div>
        <div class="panel-body">
            <div class='col-sm-8'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="display: inline-block;">Lista de Subscritores</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12" ng-repeat='subscriber in subscribers | orderBy:"name"' style="margin-top:2vh;">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                        <p style="display:inline-block; width:100%; height:100%;">
                                            <p style="display:inline-block;"> {{ subscriber.email }}</p><div style="float:right; margin-left:4vw; display:inline-block; cursor:pointer;"><img style="margin-top:4px;" ng-click="removeSubscriber( subscriber )" src="/home/img/icons/delete.png"></div>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 style="display: inline-block;">Hora de envio de e-mail automático</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <input type="text" class="timepicker form-control" ng-model="automaticEmailTime" ng-change="setEmailTime(automaticEmailTime)" placeholder=" Alterar hora">
                        <br>
                        <btn class="btn btn-primary" ng-click="updateEmailHour()">Alterar</btn>
                        <br>
                        <br>
                        <p><u> Hora actual de envio</u>: <span ng-model="currentEmailHour"><span style="color:red;"><b>{{ currentEmailHour | date:'H:mm'}}</b></span> de segunda a sexta.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
