<div class="container" style="width:50%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 style="display: inline-block;">Mudar Password</h4>
    </div>
    <form ng-submit="changePwd(newPwd)">
      <div class="panel-body">
        <div class='col-md-12'>
          <div class='col-md-9'>
            <input type='password' placeholder='Nova Password' ng-model='newPwd' name='newPwd' class='form-control'>
          </div>
          <div class='col-md-3'>
            <button class='btn btn-primary pull-right' style="display: inline-block;" type="submit">Alterar Password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
