<div class="container" id="adminHeader" style="width:40%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 style="display: inline-block;">Alterar Palavra-Passe</h4>
    </div>
    <form ng-submit="changePwd(newPwd, confirmPwd)">
      <div class="panel-body">
        <div class='col-sm-12'>
          <div class='col-sm-12'>
            <input type='password' placeholder='Nova Palavra-Passe' ng-model='newPwd' name='newPwd' class='form-control'>
          </div>
          <div class='col-sm-12' style="margin-top:5px;">
            <input type='password' placeholder='Confirme Nova Palavra-Passe' ng-model='confirmPwd' name='confirmPwd' class='form-control'>
          </div>
        </div>
        <div class="col-sm-12" style="margin-top:10px;">
            <button class='btn btn-primary' style="float:right;" type="submit">Alterar Palavra-Passe</button>
        </div>
      </div>
    </form>
  </div>
</div>
