<!-- Top navigation -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller='NavCtrl'>
    <div class="container" style="width:80%;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Mover A Montanha - Administração |</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('allPosts') }"><a ui-sref="allPosts">Artigos</a></li>
          <li ng-class="{ active: isActive('addPost') }"><a ui-sref="addPost">Novo Artigo</a></li>
          <li ng-class="{ active: isActive('allAuthors') }"><a ui-sref="allAuthors">Autores</a></li>
          <li ng-class="{ active: isActive('addAuthors') }"><a ui-sref="addAuthor">Novo Autor</a></li>
          <li ng-class="{ active: isActive('allSubscribers') }"><a ui-sref="allSubscribers">Subscritores</a></li>
          <li ng-class="{ active: isActive('allCategories') }"><a ui-sref="allCategories">Palavras-Chave</a></li>
          <li ng-class="{ active: isActive('statistics') }"><a ui-sref="statistics">Estat&iacute;sticas</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href>{{currentUser.email}}</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<!-- /Top navigation -->
