<div class="container" style="width:80%;">
<div class='row full-height'>
    <!-- Sidebar -->
        <h3>Estat&iacute;sticas</h3>
        <div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding:3px;">
            <button type="button" class="btn btn-default btn-sm" ng-disabled="!graphLoaded"
                    ng-click="reset()">
                <span class="fa fa-refresh"> Reiniciar</span>
            </button>
        </div>
        <div class="panel-body" style="height:400px;padding:3px;">
            <div class="list-group">
                <a role="presentation" class="list-group-item" ng-click="toggleLegend()">
                    <span class="fa fa-fw fa-list"></span>
                    <span>Legenda</span>
                    <span class="pull-right">
                        <span ng-if="graphOptions.legend" class="fa fa-check-square-o"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8">
  <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"</canvas>
    </div>
</div>
</div>
