* {
    margin: 0;
    padding: 0;
    text-decoration: none
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: caslonitalic;
    src: url(/fonts/CaslonProItalic.ttf);
}

@font-face {
    font-family: caslonregular;
    src: url(/fonts/CaslonProRegular.ttf);
}

html, body, section, .full-height {
    height: 100%;
}

#pad{

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
}

#main-content {
    margin-top:70px;
}

.circularImg
{
  border-radius: 50%;
}

.odd {
  background-color: rgba(210,255,82,1) !important;
}

.even {
  background-color: rgba(241,231,103,1) !important;
}

.odd.selected, .even.selected {
  background-color: rgba(255,93,177,1) !important;
}

.quoteArea .ta-editor
{
  height: 200px;
}

textarea {
  resize: none;
}

.normalFilter
{
  text-decoration:none;
}

#hover-content {
    /* display:none; */
}
#parent:hover #hover-content {
    display:block;
}

#adminHeader
{
  width:90%;
  margin: auto;
  padding-top: 2vw;
}

#removeAuthorImage
{
  float:right;
  font-size:18px;
  cursor:pointer;
}

#removeAuthorImage:hover
{
  color:red;
}

#addCategory
{
  font-size:18px;
  color:black;
  cursor:pointer;
}

#addCategory:hover
{
  color:DodgerBlue;
}

.image-upload
{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-upload:hover
{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.image-upload > input
{
    display: none;
}
