<!doctype html>
<html lang="en" ng-app='mean-blog.home'>
<head>
  <meta charset="utf-8">

  <title>Mover a Montanha</title>
  <meta name="description" content="blog politica">
  <meta name="author" content="PUSHVFX">
  <link href="https://fonts.googleapis.com/css?family=Raleway:700,800" rel="stylesheet">
  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- JQuery -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="../modules/slick-carousel/jquery.min.js"></script>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <script src="../modules/slick-carousel/slick.js"></script>
  <script src="../modules/slick-carousel/angular-slick.min.js"></script>

  <!-- UI Router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js"></script>
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/home/css/main.css">
  <link rel="stylesheet" href="../modules/slick-carousel/slick.css">
  <link rel="stylesheet" href="../modules/slick-carousel/slick-theme.css">

  <!-- Custom JS -->
  <script src="../modules/moment/moment-with-locales.min.js"></script>
  <script src="../modules/moment/angular-moment.min.js"></script>
  <script src="../modules/ng-socialshare/angular-socialshare.min.js"></script>

  <script src='/admin/js/lib/markdown.js'></script>
  <script src='/home/js/app.js'></script>
  <script src='/home/js/controllers/main.js'></script>
  <script src='/common/modules/posts.js'></script>
  <script src='/common/modules/authors.js'></script>
  <script src='/common/modules/services.js'></script>
  <script src='/common/modules/categories.js'></script>
  <script>
    (function($) {
      $.fn.menumaker = function(options) {
        var cssmenu = $(this), settings = $.extend({
          format: "dropdown",
          sticky: false
        }, options);
        return this.each(function() {
          $(this).find(".button").on('click', function(){
            $(this).toggleClass('menu-opened');
            var mainmenu = $(this).next('ul');
            if (mainmenu.hasClass('open')) {
              mainmenu.slideToggle().removeClass('open');
            } else {
              mainmenu.slideToggle().addClass('open');
              if (settings.format === "dropdown") {
                mainmenu.find('ul').show();
              }
            }
          });
          cssmenu.find('li ul').parent().addClass('has-sub');
          multiTg = function() {
            cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
            cssmenu.find('.submenu-button').on('click', function() {
              $(this).toggleClass('submenu-opened');
              if ($(this).siblings('ul').hasClass('open')) {
                $(this).siblings('ul').removeClass('open').slideToggle();
              }
              else {
                $(this).siblings('ul').addClass('open').slideToggle();
              }
            });
          };
          if (settings.format === 'multitoggle'){
            multiTg();
          } else {
            cssmenu.addClass('dropdown');
          }
          if (settings.sticky === true){
            cssmenu.css('position', 'fixed');
          }
          resizeFix = function() {
          var mediasize = 1000;
            if ($( window ).width() > mediasize) {
              cssmenu.find('ul').show();
            }
            if ($(window).width() <= mediasize) {
              cssmenu.find('ul').hide().removeClass('open');
            }
          };
          resizeFix();
          return $(window).on('resize', resizeFix);
        });
      };
    })(jQuery);

    (function($){
    $(document).ready(function(){
      $("#cssmenu").menumaker({
        format: "multitoggle"
      });
    });
    })(jQuery);
  </script>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header ng-include='"/home/templates/nav.html"'></header>
  <!-- Main Content -->
  <div ui-view></div>
  <footer ng-include='"/home/templates/footer.html"'></footer>
</body>
</html>
