<!-- Main Content -->
<div class="container" style="margin-top:2vh;">
  <div class="row">
    <h1 style="margin-bottom:6vw; text-align:center;"> Sobre </h1>
  </div>
  <div class="row">
    <div style="width:100%; display:inline-block;">
      <br>
      <br>
      <h2 style="display:block; margin:auto; text-align:center; font-size:16px;">

        Mover a montanha é um desafio da cidadania, um imperativo de consciência e uma forma de participar na vida do país e dos seus problemas. Isentos tanto quanto possível, responsáveis pela palavra dita e escrita sempre, como fio condutor o amor por Portugal.
Aqui se reúnem alguns cidadãos guiados pela grande utopia e empenhados em reflectir e colocar à reflexão dos seus compatriotas o seu pensamento e as suas propostas por um país renovado, soberano, independente e dono dos seus destinos.
Defendemos os valores democráticos da verdade, da responsabilidade, da transparência, da pluralidade e da prestação de contas.
Mover a Montanha não é um destino… é uma direcção…. Porque “<i>ter bons olhos não é ver a montanha mas o que está para alem dela</i>” &sup1;</h2>

<br>

<pre style="width:70%; margin:auto; text-align:center;">
&sup1; Provérbio russo citado <a href="http://terrear.blogspot.pt/2007/01/ter-bons-olhos-no-ver-montanha-mas-o.html">aqui</a> por Boaventura de Sousa Santos
</pre>


      <hr>
    </div>
  </div>
</div>
