<!-- Main Content -->
<div id="headerimg" class="col-md-12"></div>
<div style="position:absolute; left:59px; top:76px; background-color:#2E71F2; z-index:0; width:259px; height:251px;"></div>
<div style="position:absolute; top:260px; left:121px; text-align: center">
  <a href="#/author/{{post.author._id}}"><img id="autorfotoarticle" style="margin:auto;" src="{{ post.author.photo }}"></img></a>
  <br>
  <p id="articleautorname">{{ post.author.name }}</p>
</div>
<div id="mainarticle" class="col-md-12">
  <div class="row">
    <div id="cabecalhoarticle">
      <br>
      <br>
      <p id="tituloartigo">{{ post.title }}</p>
    </div>
    <div id="post1" btf-markdown='post1'></div>
    <div class="col-md-12" style=" left:0px; padding:0px; margin:0px; margin-bottom:2vh; width:100%; background-color:#2E71F2; color:white;">
      <div style="text-align:center; margin:auto; margin-bottom:2.5vh; margin-top:2.5vh; width:50%;"><p><b>&quot; {{ post.recap }} &quot;</b></p></div>
    </div>
    <br>
    <br>
    <div id="post2" btf-markdown='post2'></div>
    <div id="articlefooter">
      <span style="float:right"> {{ convertDateToPT(post.created_at )}} </span>
      <br>
      <br>
      <input type="image" src="icons/email.png" href="#" style="width:1.5vw;" alt = "Partilhar via Email" ng-init="url='http://www.moveramontanha.com/posts/'+post._id"
          socialshare
          socialshare-provider="email"
          socialshare-type="sharer"
          socialshare-subject="Mover A Montanha - Partilha de Artigo"
          socialshare-body="{{post.title}} por {{post.author.name}} Leia este artigo em {{url}}"
          socialshare-hashtags="moveramontanha"
          socialshare-url="{{url}}">
      </input>
      <input type="image" src="icons/twitter.png" href="#" style="width:1.5vw;" alt = "Partilhar no Twitter" ng-init="url='http://www.moveramontanha.com/posts/'+post._id"
          socialshare
          socialshare-provider="twitter"
          socialshare-type="sharer"
          socialshare-text="{{post.title}} por {{post.author.name}}"
          socialshare-hashtags="moveramontanha"
          socialshare-url="{{url}}">
      </input>
      <input type="image" src="icons/facebook.png" href="#" style="width:1.5vw;" alt = "Partilhar no Facebook" ng-init="url='http://www.moveramontanha.com/posts/'+post._id"
          socialshare
          socialshare-provider="facebook"
          socialshare-type="sharer"
          socialshare-text="{{post.title}} por {{post.author.name}}"
          socialshare-hashtags="moveramontanha"
          socialshare-url="{{url}}">
      </input>
      <input type="image" src="icons/google.png" href="#" style="width:1.5vw;" alt = "Partilhar no Google+" ng-init="url='http://www.moveramontanha.com/posts/'+post._id"
          socialshare
          socialshare-provider="google"
          socialshare-type="sharer"
          socialshare-text="{{post.title}} por {{post.author.name}}"
          socialshare-hashtags="moveramontanha"
          socialshare-url="{{url}}">
      </input>
      <input type="image" src="icons/pocket.png" href="#" style="width:1.5vw;" alt = "Partilhar no Pocket" ng-init="url='http://www.moveramontanha.com/posts/'+post._id"
          socialshare
          socialshare-provider="pocket"
          socialshare-type="sharer"
          socialshare-text="{{post.title}} por {{post.author.name}}"
          socialshare-hashtags="moveramontanha"
          socialshare-url="{{url}}">
      </input>
    </div>
  </div>
</div>
