<!-- Main Content -->
<div id="headerimgcontact" class="col-md-12">
    <p id="tituloartigos">ARTIGOS</p>
</div>
<div id="divfilter" class="col-md-12" style="background-color:#486af0; padding-bottom: 43px;">
    <div class="col-md-3">
    </div>
    <div class="col-md-2" style="text-align:center; margin-top: 40px;">
        <p id="filtertitle">Palavras-Chave</p>
        <select style="font-family: caslonregular; padding: 8px 12px; font-size: 16px;" class="form-control" ng-model="categoriesSelected" ng-change="changedCategories(categoriesSelected._id)" ng-init="categoriesSelected = allC[0]" data-ng-options="category.tag for category in allC">
        </select>
    </div>
    <div class="col-md-2" style="text-align:center; margin-top: 40px;">
        <p id="filtertitle">Autores</p>
        <select style="font-family: caslonregular; padding: 8px 12px; font-size: 16px;" class="form-control" ng-model="authorsSelected" ng-change="changedAuthors(authorsSelected._id)" ng-init="authorsSelected = allA[0]" data-ng-options="author.name for author in allA">
        </select>
    </div>
    <div class="col-md-2" style="text-align:center; margin-top: 40px;">
        <p id="filtertitle">Data de Publicação</p>
        <select style="font-family: caslonregular; padding: 8px 12px; font-size: 16px;" class="form-control" ng-model="dateSelected" ng-change="changeMonthDropDown(dateSelected)" ng-init="dateSelected = monthList[0]" data-ng-options="month as month for month in monthList">
        </select>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="col-md-12">
    <a id="linkallposts" href="/article/{{post._id}}" ng-repeat="post in allP">
        <div ng-if="$index < allP.length -1" id="divArtigo" >
            <p id="titleartigos">{{post.title}}</p>
            <p id="nomeData">{{post.author.name}}, {{ convertDateToPT(post.created_at) }}</p>
        </div>
        <div ng-if="$index == allP.length -1" id="divArtigo" style="margin-bottom: 40px;" >
            <p id="titleartigos">{{post.title}}</p>
            <p id="nomeData">{{post.author.name}}, {{ convertDateToPT(post.created_at) }}</p>
        </div>
    </a>
    <div ng-if="allP.length <= 0" >
        <p id="warningpost">Não existem artigos correspondentes ao filtro selecionado</p>
    </div>
</div>
