<!-- Main Content -->
<div id="headerimg" class="col-md-12"></div>
<div id="headerbluebandauthor" ></div>
<div id="infoAuthorBio">
  <img id="autorfotoarticle" style="margin:auto;" ng-src="{{ author.photo }}"></img>
  <br>
  <p id="articleautorname">{{ author.name }}</p>
</div>
<div id="recapAuthorBioMobile" ng-show="mostraQuote" class="col-md-12">
  <div id="recapAuthor"><span style="font-size:80px; margin-left: -41px;">"</span><p style="margin-top: -84px;">{{ author.quote }}</p></div>
</div>
<div class="col-md-3">
  <div id="artigoautorbio" >
    <p style="text-transform: uppercase;"> Artigos deste autor </p>
    <br>
    <a href="/article/{{otherPost._id}}" id="otherpostsauthor" ng-repeat="otherPost in postsAuthor" ng-if="postsAuthor.length > 0 && otherPost.isDraft">
      <p style="width: 85%; margin: auto auto 10px;">{{ otherPost.title }}</p>
    </a>
    <p ng-if="postsAuthor.length <= 0 || !authorHasDrafts">Sem artigos</p>
  </div>
</div>
<div id="mainarticleauthor" class="col-md-9">
  <div class="row">
    <div id="bio" btf-markdown='author.bio'></div>
  </div>
</div>
<div id="recapAuthorBio" ng-show="mostraQuote" class="col-md-12">
  <div id="recapAuthor"><span style="font-size:80px; margin-left: -41px;">"</span><p style="margin-top: -84px;">{{ author.quote }}</p></div>
</div>
<div id="artigoautorbiomobile" >
  <p style="text-transform: uppercase;"> Artigos deste autor </p>
  <br>
  <a href="/article/{{otherPost._id}}" id="otherpostsauthor" ng-repeat="otherPost in postsAuthor" ng-if="postsAuthor.length > 0 && otherPost.isDraft">
    <p>{{ otherPost.title }}</p>
  </a>
  <p ng-if="postsAuthor.length <= 0 || !authorHasDrafts">Sem artigos</p>
</div>
