<!-- Main Content -->
<div id="headerimgcontact" class="col-md-12"></div>
<div class="col-md-4" style="margin-top: 73px;">
</div>
<div class="col-md-8" style="margin-top: 73px; height: 90px; background-color: #486af0;">
  <p style="font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 800; color: white; font-size: 34px; padding-top: 10px; padding-left: 12px;"> Contacto </p>
</div>
<div id="formulariocontacto" class="col-md-12">
  <form style="border: solid 2px red; width: 30%; margin: auto;">
    Nome (obrigatório)<br>
    <input type="text" name="nome">
    <br>
    <br>
    Endereço electrónico (obrigatório)<br>
    <input type="text" name="email">
    <br>
    <br>
    Texto (obrigatório)<br>
    <textarea rows="4" cols="50">
    At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
    </textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
