<!-- Main Content -->
<div id="headerimgcontact" class="col-md-12"></div>
<div class="col-md-4" style="margin-top: 73px;">
</div>
<div class="col-md-8" style="margin-top: 73px; height: 90px; background-color: #486af0;">
  <p style="font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 800; color: white; font-size: 30px; padding-top: 10px; padding-left: 12px;"> Contacto </p>
</div>
<div id="formulariocontacto" class="col-md-12">
  <br>
  <br>
  <br>
  <form style="width: 30%; margin: auto;">
    <p id="labelformulario">Nome <span id="labelother">(obrigatório)</span></p>
    <input id="textboxcontacto" type="text" name="nome" required>
    <br>
    <br>
    <p id="labelformulario">Endereço electrónico <span id="labelother">(obrigatório)</span></p>
    <input id="textboxcontacto" type="text" name="email" required>
    <br>
    <br>
    <p id="labelformulario">Texto <span id="labelother">(obrigatório)</span></p>
    <textarea id="textareacontacto" rows="11" required></textarea>
    <br><br>
    <input id="buttonsendmsg" type="submit" value="Submeter">
  </form>
</div>
<div id="divbluecontact" class="col-md-12">
  <div id="recap" style="color:white;"><span style="font-size:80px; margin-left: -41px;">"</span><p style="margin-top: -84px; text-align:center;">fwevgwefewfwfdewfwfewfew f ef ew few few fewfwfew f wef ewfew few f ew f</p></div>
</div>
