<!-- Main Content -->
<div id="headerimgcontact" class="col-md-12"></div>
<div class="col-md-4" id="divleftcontact">
</div>
<div class="col-md-8" id="divrightcontact">
  <p style="font-family: 'Raleway', sans-serif; text-transform: uppercase; font-weight: 800; color: white; font-size: 30px; padding-top: 10px; padding-left: 12px;"> Contacto </p>
</div>
<div id="formulariocontacto" class="col-md-12">
  <br>
  <br>
  <br>
  <form id="formcontacto">
    <p id="labelformulario">Nome <span id="labelother">(obrigatório)</span></p>
    <input ng-model="contactName" id="textboxcontacto" type="text" name="nome">
    <br>
    <br>
    <p id="labelformulario">Endereço electrónico <span id="labelother">(obrigatório)</span></p>
    <input ng-model="contactMail" id="textboxcontacto" type="text" name="email">
    <br>
    <br>
    <p id="labelformulario">Texto <span id="labelother">(obrigatório)</span></p>
    <textarea ng-model="contactMessage" id="textareacontacto" rows="11"></textarea>
    <br><br>
    <input ng-click="sendEmail()" id="buttonsendmsg" type="submit" value="Submit">
  </form>
</div>
<div id="divbluecontact" class="col-md-12">
  <div id="recap" style="color:white;"><span style="font-size:80px; margin-left: -41px;">"</span><p style="margin-top: -84px; text-align:center;">fwevgwe fewfwfd ewfw fewfew f ef ew few few fewfwfew f wef ewfew few f ew f</p></div>
</div>
