<div id="seguirmain" class="col-md-12">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12" style="text-align:center;">
            <p id="seguirtexto">Seguir o Blog</p>
        </div>
        <br>
        <div class="col-md-12" style="text-align:center;">
            <p id="seguirinfo">Receba notificações esporádicas sobre esta plataforma</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="formulario" class="col-md-12">
            <form>
                <input id="textboxsubscribe" type="text" placeholder="Email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="buttonsubscribe" type="submit" value="subscrever">
            </form>
        </div>
    </div>
</div>
<div id="footermain" class="col-md-12">
    <div id="footerleft" class="col-md-6">
        <img width="15" src="../home/img/icons/mountains_white.png">&nbsp;&nbsp;&nbsp;<a href="index.html">Mover a Montanha</a>
    </div>
    <div id="footerright" class="col-md-6">
        <p>&copy; 2017 Mover a Montanha. Todos os direitos reservados</p>
    </div>
</div>