<div id="seguirmain" class="col-md-12">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12" style="text-align:center;">
            <p id="seguirtexto">Seguir o Blog</p>
        </div>
        <br>
        <div class="col-md-12" style="text-align:center; margin-bottom: 38px;">
            <p id="seguirinfo">Receba notificações esporádicas sobre esta plataforma</p>
        </div>
        <div id="formulario" class="col-xs-12 col-md-12" ng-controller="FooterCtrl">
            <form ng-submit="subscribe()">
                <input id="textboxsubscribe" ng-model="email" type="email" placeholder="Email" required>
                <br>
                <br>
                <input id="buttonsubscribe" type="submit" value="subscrever">
            </form>
        </div>
    </div>
</div>
<div id="footermain" class="col-xs-12 col-md-12">
    <div id="footerleft" class="col-xs-12 col-md-4">
        <img width="15" src="../home/img/icons/mountains_white.png">&nbsp;&nbsp;&nbsp;<a href="index.html">Mover a Montanha</a>
    </div>
    <div id="footermiddle" class="col-xs-12 col-md-4">
        <img width="15" src="../home/img/icons/rss.png">&nbsp;&nbsp;&nbsp;<a href="https://www.moveramontanha.pt/rssFeed">RSS</a>&nbsp;|&nbsp;<a href="https://www.moveramontanha.pt/atomFeed">Atom</a>&nbsp;|&nbsp;<a href="https://www.moveramontanha.pt/jsonFeed">JSON</a>
    </div>
    <div id="footerright" class="col-xs-12 col-md-4">
        <p>&copy; 2017 Mover a Montanha. Todos os direitos reservados</p>
    </div>
</div>
