<!-- Main Content -->
<div class="row" style="margin:0">
  <div id="headerimghome" style="width:100%;">
    <div class="col-sm-12 col-md-4 col-lg-3" style="text-align: center;">
      <div id="bandaauthor">
        <a href="/author/{{firstPost.author._id}}" style="text-decoration: none;">
          <img id="autorfotoarticle" style="margin:auto; margin-top: 76px;" src="{{ firstPost.author.photo  }}"></img>
          <br>
          <p id="autornamearticle">{{ firstPost.author.name}}</p>
        </a>
      </div>
    </div>
    <div id="homearticletopdiv" class="col-sm-12 col-md-6 col-lg-7" style="border: 2px blue; height: 300px;">
      <p id="hometitlearticle">{{ firstPost.title}}</p>
      <div id="homebodyarticle" btf-markdown='firstPost.body' ng-if="!temVideo"></div>
      <div id="homebodyarticle" ta-bind ng-model="firstPost.body" ng-if="temVideo"></div>
    </div>
    <div id="gradient" class="col-md-12 col-lg-12">
          <a href="/article/{{firstPost._id}}" style="position: absolute; left: 0; right: 0;"><div id="buttonseemore">Ler Mais</div></a>
    </div>
    <div class="col-md-12 col-lg-12" style="background-color:#2E71F2; color:white; text-align:center;">
      <br>
      <p style="color: white; font-family: 'Raleway', sans-serif; text-transform: uppercase; padding-top:15px; font-size: 19px; 67%">Os nossos Autores</p>
      <div id="listaAutores">
        <p ng-repeat="author in authors" ng-if="$index < authors.length - 1" style="display: inline-block;"><a id="authorlink" href="/author/{{author._id}}">{{ author.name }}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
        <p ng-repeat="author in authors" ng-if="$index == authors.length - 1" style="display: inline-block;"><a id="authorlink" href="/author/{{author._id}}">{{ author.name }}</a></p>
      </div>
      <br>
    </div>
  </div>
  <p id="artigostitle">Artigos</p>
  <p id="artigossubtitle">Pode consultar neste espaço os últimos artigos publicados nesta página</p>
  <div id="slideposts">
    <div class="slick-container">
      <slick settings="slickConfig">
        <a style="text-decoration: none; color:#3b3d40;" ng-href="/article/{{post._id}}" ng-repeat="post in activePosts track by $index" ng-if="post.author.name != 'Outros'">
          <div class="slick-item box" style="text-align: center; outline: 0;">
            <div class="stay-in-place">
              <img class="autorfotoarticle" ng-src="{{post.author.photo}}" style="margin: auto;"></img>
              <br>
              <p style="margin: auto; text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px; width: 90%; min-height: 30px;">{{ post.title}}</p>
              <p style="margin: auto; font-family: caslonregular;font-size: 14px; width: 240px; min-height: 150px;" btf-markdown='trimContentTo100Char(post)'></p>
              <br>
              <p style="margin: auto; text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.author.name}}</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="move-in-to-place">
              <br>
              <p style="margin: auto; text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px; width: 80%;">{{ post.title}}</p>
              <br>
              <div id="recaprecentposts"><span style="font-size:53px; float: left;">"</span><br><p style="width:80%; margin: auto; min-height: 263px;">{{ post.recap }}</p></div>
              <br>
              <p style="margin: auto; text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.author.name}}</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </a>
      </slick>
    </div>
  </div>
</div>
