<!-- Main Content -->
<div class="row" style="margin:0">
  <div id="headerimghome" style="width:100%;">
    <div class="col-md-3" style="text-align: -webkit-center;">
      <div style="background-color:#486af0; z-index:0; width:253px; height:315px;">
        <img id="autorfotoarticle" style="margin:auto; margin-top: 76px;" src="{{ firstPost.author.photo  }}"></img>
        <br>
        <p id="autornamearticle">{{ firstPost.author.name}}</p>
      </div>
    </div>
    <div id="homearticletopdiv" class="col-md-6" style="border: 2px blue; height: 300px;">
      <p id="hometitlearticle">{{ firstPost.title}}</p>
      <div id="homebodyarticle" btf-markdown='firstPost.body'></div>
    </div>
    <div id="gradient" class="col-md-12">
          <a href="/article/{{firstPost._id}}"><div id="buttonseemore">Ler Mais</div></a>
    </div>
  </div>
  <div style="width:100%; background-color:#2E71F2; color:white; text-align:center;">
    <br>
    <p style="color: white; font-family: 'Raleway', sans-serif; text-transform: uppercase; padding-top:15px; font-size: 19px;">Os nossos Autores</p>
    <div style="width:60%; margin:auto;">
      <p ng-repeat="autor in authors" ng-if="$index < authors.length - 1" style="display: inline-block;"><a id="authorlink">{{ autor.name }}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</p>
      <p ng-repeat="autor in authors" ng-if="$index == authors.length - 1" style="display: inline-block;"><a id="authorlink">{{ autor.name }}</a></p>
    </div>
    <br>
  </div>
  <br>
  <br>
  <p id="artigostitle">Artigos</p>
  <p id="artigossubtitle">Pode consultar neste espaço os últimos artigos publicados nesta página</p>
  <div id="slideposts">
    <div class="slick-container">
      <slick infinite=true slides-to-show=4 slides-to-scroll=1>
        <a style="text-decoration: none; color:#3b3d40;" ng-href="/article/{{post._id}}" ng-repeat="post in activePosts track by $index">
          <div class="slick-item box" style="text-align: -webkit-center; outline: 0;">
            <div class="stay-in-place">
              <img class="autorfotoarticle" ng-src="{{post.author.photo}}"></img>
              <br>
              <p style="text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.title}}</p>
              <p style=" font-family: caslonregular;font-size: 14px; width: 240px;" btf-markdown='trimContentTo100Char(post)'></p>
              <br>
              <p style="text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.author.name}}</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
            <div class="move-in-to-place">
              <br>
              <p style="text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.title}}</p>
              <br>
              <div id="recaprecentposts"><span style="font-size:53px; float: left;">"</span><br><p style="width:80%; min-height: 150px;">{{ post.recap }}</p></div>
              <br>
              <p style="text-transform:uppercase; font-family: 'Raleway', sans-serif; letter-spacing:1px; font-size: 11px;">{{ post.author.name}}</p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
        </a>
      </slick>
    </div>
  </div>
</div>