<nav id='cssmenu'>
  <div class="logo"><img width="15" src="../home/img/icons/mountains_white.png">&nbsp;&nbsp;&nbsp;<a ui-sref="home">Mover a Montanha</a></div>
  <div id="head-mobile"></div>
  <div class="button"></div>
  <ul>
    <li ng-class="{ active: isActive('articles') }"><a id="menu-link" class="link1" ui-sref="articles">Artigos <span class="sr-only">(current)</span></a></li>
    <li ng-class="{ active: isActive('about') }"><a id="menu-link" class="link2" ui-sref="about">Sobre</a></li>
    <li ng-class="{ active: isActive('authors') }"><a id="menu-link" class="link3" ui-sref="authors">Autores</a></li>
    <li ng-class="{ active: isActive('contact') }"><a id="menu-link" class="link4" ui-sref="contact">Contacto</a></li>
  </ul>
</nav>