* {
    margin: 0;
    padding: 0;
    text-decoration: none
}

@font-face {
    font-family: caslonitalic;
    src: url(/fonts/CaslonProItalic.ttf);
}

@font-face {
    font-family: caslonregular;
    src: url(/fonts/CaslonProRegular.ttf);
}

select{
    text-align-last:center;
    direction: ltr;
}
/*------------------------- Cabeçalho ----------------------------------*/


#menu-link{
  text-decoration: none;
  position: relative;
  color:white;
  border: none;
  margin: 0;
  float: none;
  font-size:0.9vw !important;
}

#linksmenu{
    float:right;
    margin-right:12%;
}

#menu-link:after{
  color:white;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.4s;
}

#menu-link:hover:after {
  width: 100%;
}

header {
    position: relative;
    width: 100%;
    background: #3b3d40;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
}

.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    color: white;
    float: left;
    width: 28%;
    margin-top: 17px;
}

.logo a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

nav {
    position: relative;
    width: 88%;
    margin: 0 auto;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu {
    background: rgba(1,1,1,0);
  }

#cssmenu > ul > li {
    float: left
}

#cssmenu > ul > li > a {
    padding-top: 10px;
    margin: 20px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-size: 11px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
    color: white;
}

#cssmenu > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #3b3d40!important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #3b3d40;
    transition: all .25s ease
}


#cssmenu li:hover > ul {
    left: auto
}

#cssmenu li:hover > ul > li {
    height: 35px
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;


}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
    border-bottom: 0
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active> a {
    border-top: 1px solid #3b3d40
}

@media screen and (max-width: 1015px) {
    #cssmenu > ul > li .link1{
      width:58px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #cssmenu > ul > li .link2{
      width:43px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #cssmenu > ul > li .link3{
      width:63px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #cssmenu > ul > li .link4{
      width:73px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none;
        padding-top: 30px;
        margin: 0;
    }
    .logo2 {
        display: none
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%
    }
    #cssmenu ul {
        width: 100%;
        display: none
    }
    #cssmenu ul li {
        width: 100%;
        cursor: pointer;
        text-align: center;
    }
    #cssmenu ul li:hover {
        background: #363636;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover > ul > li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu > ul > li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-left: 25px
    }
    #cssmenu ul ul li {
        background: #333!important;
    }
    #cssmenu ul ul li:hover {
        background: #363636!important
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li.active > a {
        color: #fff
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    #cssmenu > ul > li.has-sub > a:after,
    #cssmenu > ul > li.has-sub > a:before,
    #cssmenu ul ul > li.has-sub > a:after,
    #cssmenu ul ul > li.has-sub > a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700;
        height: 80px;
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
        margin-top: 15px;
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: ''
    }
    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
    #cssmenu ul ul ul li.active a {
        border-left: none
    }
    #cssmenu > ul > li.has-sub > ul > li.active > a,
    #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }

    .republicImg
    {
      display:none !important;
    }
}


/*------------------------- Rodapé ----------------------------------*/

#seguirmain{
  background-image: url(../img/footerimg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 392px;
}

#seguirtexto{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 45px;
}

#seguirinfo{
  color: white;
  font-family: caslonregular;
  font-size: 20px;
}

#formulario{
  text-align: center;
}

#textboxsubscribe{
  background: rgba(255,255,255,0.2);
  border: rgba(255,255,255,0.2);
  border-radius: 4px;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 35px;
  width: 20%;
  padding-left: 15px;
  padding-right: 15px;
  outline:0;
}

#buttonsubscribe{
  width: 130px;
  height: 36px;
  font-size: 11px;
  border-radius: 20px;
  background-color: #486af0;
  border: #486af0;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

#footermain{
  background-color: #3b3d40;
  font-family: 'Raleway', sans-serif;
}

#footerleft{
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#footerleft a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

#footerright{
  color: white;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

#footerright p{
  margin: 0;
}

#footermiddle{
  color: white;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

#footermiddle p{
  margin: 0;
}

#footermiddle a{
  color:white;
}

/*------------------------- Autores ----------------------------------*/

#mainautor{
  font-family: 'Raleway', sans-serif;
}

#autorfoto{
  width: 100px;
  height: 100px;
  border-radius:50%;
}

a.linkautor{
    text-decoration: none;
    margin-bottom:50px;
}

#ballazul {
    background-color: transparent;
    width: 220px;
    height: 220px;
    border-radius:50%;
    margin: auto;
    padding-top: 30px;
}

#ballazul p {
    width: 90%;
    margin: auto;
}

a.linkautor:hover > #ballazul {
    background-color: #486af0;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

a.linkautor:hover > #ballazul p {
    color: white;
}

.autornome {
  color: #3b3d40;
  font-size:12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#autorestitle{
  color: #3b3d40;
  margin-top:60px;
  margin-bottom:36px;
  text-align:center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 43px;
}

#autoressubtitle{
    width: 303px;
    margin: auto;
    font-family: caslonregular;
    color: #3b3d40;
    margin-bottom: 80px;
    text-align: center;
    font-size: 19px;
}

/*------------------------- Artigo ----------------------------------*/

#headerimg{
  background-image: url(../img/headerimg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 230px;
}

#headerblueband{
    position:absolute;
    left:59px;
    top:76px;
    background-color:#486af0;
    z-index:0;
    width:259px;
    height:251px;
}

#aspa{
    font-size:80px;
    margin-left: -41px;
}

#maincat{
    margin-bottom:2vh;
    background-color:#486af0;
    color:white;
    margin-bottom: 35px;
}

#maincatsemrecap{
    margin-bottom:2vh;
    background-color:#486af0;
    color:white;
    margin-bottom: 35px;
}

#artigoAuthor{
    z-index:1;
    color: #3b3d40;
    width:300px;
    position:absolute;
    top:260px;
    left:39px;
    text-align: center
}

#articlefooterleft{
    text-align: right;
    font-family: 'Raleway', sans-serif;
    letter-spacing:1px;
}

#autorfotoarticle{
  width: 130px;
  height: 130px;
  border-radius:50%;
}

#tituloartigo{
    color: #3b3d40;
    font-family: 'Raleway', sans-serif;
    font-size:45px;
}

#articleautorname{
    margin-top:10px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform:uppercase;
}

#post1{
  width: 57%;
  margin: auto;
  font-family: caslonregular;
  font-size: 21px;
  text-align:justify;
  margin-bottom:30px;
  min-height: 515px;
}

iframe{
    width: 100%;
    min-height: 550px;
}


#post2{
  width: 57%;
  margin: auto;
  margin-top:30px;
  font-family: caslonregular;
  font-size: 21px;
  text-align:justify;
}

#cabecalhoarticle{
    width: 57%;
    margin: auto;
}

#articlefooter{
    width: 57%;
    margin: auto;
    font-size:12px;
    margin-top:50px;
    margin-bottom:4vh;
}

#recap{
    text-align:justify;
    margin:auto;
    margin-bottom:100px;
    margin-top:100px;
    width:50%;
    font-family: caslonitalic;
    font-size: 26px;
    letter-spacing: 1px;
}

#categorias{
    float: right;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: 0;
    margin-bottom: 20px;
    font-family: caslonregular;
    font-size: 17px;
}

#categorias p{
    margin: 0;
}

#categoriassemrecap{
    text-align: right;
    right: 30px;
    margin-bottom: 20px;
    font-family: caslonregular;
    font-size: 17px;
}

#categoriassemrecap p{
    margin: 0;
}

#recap p{
    margin: 0;
}

#artigoautor{
    position: absolute;
    left: 59px;
    top: 135px;
    background-color: #486af0;
    z-index: 0;
    width: 259px;
    min-height: 480px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 20px;
}

#artigoautormobile{
    display: none;
    background-color: #486af0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 15px;
    margin-bottom: -10px;
    padding-bottom: 15px;

}

/*------------------------- Home ----------------------------------*/

#bandaauthor{
    background-color:#486af0;
    z-index:0; width:253px;
    height:315px;
    margin: auto;
    margin-top:-150px;
}

#listaAutores{
    width:60%;
    margin:auto;
}

#headerimghome{
  background-image: url(../img/frontmontanhaoverlayed.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  min-height: 150px;
}

#autornamearticle{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top:10px;
    font-size: 13px;
    text-transform:uppercase;
}

#hometitlearticle{
    font-family: 'Raleway', sans-serif;
    color: #3b3d40;
    margin-top:40px;
    font-size: 37px;
}

#iconviddiv{
    padding-top: 39px;
}

#iconvid{
    margin: auto;
}

#homebodyarticle{
    font-family: caslonregular;
    color: #3b3d40;
    margin-top:40px;
    font-size: 20px;
    text-align: justify;
    text-overflow: clip;
    height: 450px;
    overflow: hidden;
}

#gradient{
    height: 270px;
    background: url("../img/frontmontanhatransparency.png");
    background-repeat:no-repeat;
    background-position:bottom center;
    text-align: center;
    clear: both;
}

#buttonseemore{
  width: 130px;
  height: 36px;
  margin: auto;
  font-size: 11px;
  border-radius: 20px;
  background-color: #486af0;
  border: #486af0;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-top: 11px;
  clear: both;
  margin-top: 215px;
  text-align: center;
}

#authorlink{
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 115px;
  cursor: pointer;
  text-decoration: none;
}

#authorlink:hover{
    color: #3b3d40;
}

#slideposts{
    width:67%;
    margin: auto;
}

.slick-prev, .slick-next {
    opacity: 0.4;
}

.slick-prev:before, .slick-next:before {
    color:#3b3d40 !important;
}

.autorfotoarticle{
  width: 130px;
  height: 130px;
  border-radius:50%;
}

#artigostitle{
    margin-bottom:20px;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size:45px;
    clear: both;
    padding-top: 35px;
}

#artigossubtitle{
    /* width: 400px;  */
    margin: auto;
    text-align:center;
    font-family: caslonregular;
    font-size:18px;
    margin-bottom: 100px;
}

.stay-in-place {
    height: 100%;
    cursor:pointer;
        height: 480px;
}

.move-in-to-place {
    color: white;
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: -100%;
    height : 100%;
    width : 90%;
    background: #486af0;
    opacity:0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    animation-name: fadeFromtop;
        -webkit-animation-name: fadeFromtop;
        animation-duration: 200ms;
        -webkit-animation-duration: 200ms;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
}

.box {
    position: relative;
    overflow:hidden;
}

.box:hover .move-in-to-place {
    animation-name: fadeFromBottom;
        -webkit-animation-name: fadeFromBottom;
        animation-duration: 200ms;
        -webkit-animation-duration: 200ms;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
    bottom: 0;
    width:90%;
    height:100%;
    opacity:1;
}

@keyframes fadeFromBottom  {
    0%{
        opacity:0;
        bottom:-100%;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fadeFromtop  {
    0%{
        opacity:1;
        bottom: 0;
    }
    100%{
        opacity: 0;
        bottom:-100%;
    }
}


#recaprecentposts{
    margin:auto;
    width:85%;
    font-family: caslonitalic;
    font-size: 15px;
    letter-spacing: 1px;
}

.custom-slick .slick-prev:before {
    content: "<";
    font-family: 'FontAwesome';
    font-size: 22px;
}
.custom-slick .slick-next:before {
    content: ">";
    font-family: 'FontAwesome';
    font-size: 22px;
}

#otherpostsauthor{
    font-size: 12px;
    color: white;
    cursor: pointer;
}

/*------------------------- Contactos ----------------------------------*/

#formulariocontacto{
    z-index: 1;
}

#divleftcontact{
    margin-top: 73px;
}

#divrightcontact{
    margin-top: 73px;
    height: 90px;
    background-color: #486af0;
}

#formcontacto{
    width: 30%;
    margin: auto;
}

#headerimgcontact{
  background-image: url(../img/contacto_header.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 241px;
}

#textboxcontacto{
    border: solid 2px #486af0;
    border-radius: 2px;
    width: 70%;
    height: 37px;
}

#textareacontacto{
    border: solid 2px #486af0;
    border-radius: 2px;
    width: 100%;
    resize: none;
}

#labelformulario{
    font-family: 'Raleway', sans-serif;
    color: #3b3d40;
    font-size: 18px;
}

#labelother{
    font-family: caslonregular;
}

#buttonsendmsg{
  width: 130px;
  height: 36px;
  font-size: 11px;
  border-radius: 20px;
  background-color: white;
  border: #486af0;
  color: #486af0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-top: 3px;
  float: right;
}

#divbluecontact{
    margin-top: -203px;
    background-color: #486af0;
    height: 600px;
    z-index: 0;
    padding-top: 200px;
}

/*------------------------- Author ----------------------------------*/

#artigoAuthor{
    z-index:1;
    color: #3b3d40;
    width:300px;
    position:absolute;
    top:260px;
    left:39px;
    text-align: center
}


#infoAuthorBio{
    width:300px;
    position:absolute;
    top:260px;
    left:127px;
    text-align: center
}

#bio{
    padding-top: 50px;
  width: 65%;
  font-family: caslonregular;
  font-size: 19px;
  text-align:justify;
  margin-bottom:30px;
  min-height: 515px;
  padding-left: 50px;
}

#artigoautorbio{
    position: absolute;
    left: 147px;
    top: 135px;
    background-color: #486af0;
    z-index: 0;
    width: 259px;
    min-height: 480px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 20px;
}

#artigoautorbiomobile{
    display: none;
    top: 135px;
    background-color: #486af0;
    z-index: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 20px;
}

#artigoautorbiomobile p{
    margin-bottom: 5px;
}

#recapAuthor{
    text-align:justify;
    margin:auto;
    margin-bottom:100px;
    margin-top:100px;
    width:50%;
    font-family: caslonitalic;
    font-size: 26px;
    letter-spacing: 1px;
}

#recapAuthorBioMobile{
    background-color:#486af0;
    color:white;
    display: none;
}

#recapAuthorBio{
    background-color:#486af0;
    color:white;
}

#headerbluebandauthor{
    position:absolute;
    left:147px;
    top:76px;
    background-color:#486af0;
    z-index:0;
    width:259px;
    height:251px;
}


/*------------------------- Artigos ----------------------------------*/

#tituloartigos{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 87px;

}

#divArtigo{
    margin-top: 40px;
}

#titleartigos{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 36px;
    color: #3b3d40;
    width: 60%;
    margin: auto;
    font-weight: 800;
}

#nomeData{
    font-family: caslonregular;
    text-align: center;
    color: #3b3d40;
    font-size: 15px;
}

#linkallposts{
    text-decoration: none;
}

#linkallposts:hover #titleartigos{
    color: #486af0
}

#warningpost{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #3b3d40;
    width: 60%;
    margin: auto;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 50px;
}

#filtertitle{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;
}


@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 0.8s forwards;
   -moz-animation: flickerAnimation 0.8s forwards;
   -o-animation: flickerAnimation 0.8s forwards;
    animation: flickerAnimation 0.8s forwards;
}

.republicImg
{
  position:absolute;
  margin-top:10px;
  width:5.5vw;
  right:-3vw;
}
