@media (max-width: 480px) {

    #linksmenu{
        margin-right:auto;
    }

    /*----------- Home -----------*/

    #hometitlearticle {
        font-size: 33px;
        text-align: center;
    }

    #homebodyarticle{
        font-size: 16px;
    }

    #listaAutores{
        width: 100%;
        font-size: 11px;
    }

    #bandaauthor{
        margin-top: -5px;
    }

    /*----------- Footer -----------*/

    #footerleft{
        height: auto;
        line-height: 43px;
    }

    #footerright{
        line-height: 43px;
        font-size: 7px;
    }
  
    #textboxsubscribe{
        width: 85%;
    }

    /*----------- Contacts -----------*/

    #divleftcontact{
        /* margin-top: 73px; */
        display: none;
    }

    #divrightcontact{
        margin-top: 0;
        text-align: center;
    }

    #formcontacto{
        width: 90%;
    }

    #textboxcontacto {
        width: 100%;
    }

    #recapAuthor {
        width:70%;
    }

    /*----------- Artigos -----------*/

    #titleartigos{
       font-size: 19px;
       width: 90%; 
    }

    #nomeData{
        font-size: 12px;
    }

    /*----------- Artigo -----------*/

    iframe{
        min-height: 200px;
    }

    #headerblueband{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #artigoAuthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
    }

    #headerimg {
        z-index: -1;
    }

    #infoAuthorArticle{
        margin-top: -70px;
    }

    #cabecalhoarticle {
        width: 90%;
        text-align: center;
    }

    #tituloartigo {
        font-size: 30px;
    }

    #artigoautor{
        display: none;
    }

    #post1 {
        width: 90%;
        font-size: 16px;
        min-height: 250px;
    }

    #post2 {
        width: 90%;
        font-size: 16px;
        margin-top:0px;
    }

    #articlefooterright{
        text-align: center;
    }

    #articlefooterleft{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 15px;
    }

    #artigoautormobile{
        display: block;
    }

    #categorias{
        font-size: 12px;
        right: 20px;
    }

    #categoriassemrecap{
        right: 20px;
        font-size: 15px; 
        margin-bottom: 0px; 
        padding-bottom: 15px;
    }

    #recap{
        margin:0;
        margin-left: 24px;
        width: 58%;
        font-size: 17px;
        letter-spacing: 0px;
        padding-bottom: 20px;
    }

    #aspa{
        font-size: 78px;
        margin-left: -34px;
    }

    #maincat{
        margin-bottom: 0px;
    }

    #maincatsemrecap{
        margin-bottom: 0px;
    }

    /*----------- Autor -----------*/

    #headerbluebandauthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #infoAuthorBio{
        position: relative;
        top: -74px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #artigoautorbio{
        display: none;
    }

    #bio {
        padding-top: 10px;
        width: 90%;
        font-size: 14px;
        margin: auto;
        padding-left: 0px;
        min-height: 0;
    }

    #artigoautorbiomobile{
        display: block;
        padding-bottom: 10px;
    }

    #recapAuthorBioMobile{
        display: block;
        padding-bottom: 15px;
    }

    #recapAuthorBio{
        display: none;
    }

    #recapAuthor {
        text-align: justify;
        margin: auto;
        margin-bottom: 0px;
        font-size: 18px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    #linksmenu{
        margin-right:auto;
    }

    /*----------- Home -----------*/

    #hometitlearticle {
        font-size: 33px;
        text-align: center;
    }

    #homebodyarticle{
        font-size: 18px;
    }

    #listaAutores{
        width: 100%;
        font-size: 11px;
    }

    #bandaauthor{
        margin-top: -5px;
    }

    /*----------- Footer -----------*/

    #footerleft{
        height: auto;
        line-height: 43px;
    }

    #footerright{
        line-height: 43px;
        font-size: 9px;;
    }
  
    #textboxsubscribe{
        width: 50%;
    }

    /*----------- Contacts -----------*/

    #divleftcontact{
        /* margin-top: 73px; */
        display: none;
    }

    #divrightcontact{
        margin-top: 0;
        text-align: center;
    }

    #formcontacto{
        width: 90%;
    }

    #textboxcontacto {
        width: 100%;
    }

    #recapAuthor {
        width:70%;
    }

    /*----------- Artigos -----------*/

    #titleartigos{
       font-size: 21px;
       width: 90%; 
    }

    #nomeData{
        font-size: 14px;
    }

    .form-control{
        width: 65%;
        margin: auto;
    }

    /*----------- Artigo -----------*/

    iframe{
        min-height: 300px;
    }

    #headerblueband{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #artigoAuthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
    }

    #headerimg {
        z-index: -1;
    }

    #infoAuthorArticle{
        margin-top: -70px;
    }

    #cabecalhoarticle {
        width: 90%;
        text-align: center;
    }

    #tituloartigo {
        font-size: 30px;
    }

    #artigoautor{
        display: none;
    }

    #post1 {
        width: 90%;
        font-size: 16px;
        min-height: 350px;
    }

    #post2 {
        width: 90%;
        font-size: 16px;
        margin-top:0px;
    }

    #articlefooterright{
        text-align: center;
    }

    #articlefooterleft{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 15px;
    }

    #artigoautormobile{
        display: block;
    }

    #categorias{
        font-size: 12px;
        right: 20px;
        margin-bottom: 0;
    }


    #categoriassemrecap{
        right: 20px;
        font-size: 15px; 
        margin-bottom: 0px; 
        padding-bottom: 15px;
    }

    #recap{
        margin:0;
        margin-left: 24px;
        width: 58%;
        font-size: 17px;
        letter-spacing: 0px;
        padding-bottom: 20px;
    }

    #aspa{
        font-size: 78px;
        margin-left: -34px;
    }

    #maincat{
        margin-bottom: 0px;
    }

    #maincatsemrecap{
        margin-bottom: 0px;
    }

    /*----------- Autor -----------*/

    #headerbluebandauthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #infoAuthorBio{
        position: relative;
        top: -74px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #artigoautorbio{
        display: none;
    }

    #bio {
        padding-top: 10px;
        width: 90%;
        font-size: 14px;
        margin: auto;
        padding-left: 0px;
        min-height: 0;
    }

    #artigoautorbiomobile{
        display: block;
        padding-bottom: 10px;
    }

    #recapAuthorBioMobile{
        display: block;
        padding-bottom: 15px;
    }

    #recapAuthorBio{
        display: none;
    }

    #recapAuthor {
        text-align: justify;
        margin: auto;
        margin-bottom: 0px;
        font-size: 18px;
    }
}


@media (min-width: 768px) and (max-width: 990px) {

    #linksmenu{
        margin-right:auto;
    }

    /*----------- Home -----------*/

    #hometitlearticle {
        font-size: 33px;
        text-align: center;
    }

    #homebodyarticle{
        font-size: 18px;
    }

    #listaAutores{
        width: 100%;
        font-size: 11px;
    }

    #bandaauthor{
        margin-top: 4px;
    }

    /*----------- Footer -----------*/

    #footerleft{
        height: auto;
        line-height: 43px;
    }

    #footerright{
        line-height: 43px;
        font-size: 9px;;
    }
  
    #textboxsubscribe{
        width: 50%;
    }

    /*----------- Contacts -----------*/

    #divleftcontact{
        /* margin-top: 73px; */
        display: none;
    }

    #divrightcontact{
        margin-top: 0;
        text-align: center;
    }

    #formcontacto{
        width: 75%;
    }

    #textboxcontacto {
        width: 100%;
    }

    #recapAuthor {
        width:70%;
    }

    /*----------- Artigos -----------*/

    #titleartigos{
       font-size: 21px;
       width: 90%; 
    }

    #nomeData{
        font-size: 14px;
    }

    .form-control{
        width: 65%;
        margin: auto;
    }

    /*----------- Artigo -----------*/

    #headerblueband{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #artigoAuthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
    }

    #headerimg {
        z-index: -1;
    }

    #infoAuthorArticle{
        margin-top: -70px;
    }

    #cabecalhoarticle {
        width: 90%;
        text-align: center;
    }

    #tituloartigo {
        font-size: 30px;
    }

    #artigoautor{
        display: none;
    }

    #post1 {
        width: 70%;
        font-size: 17px;
    }

    #post2 {
        width: 70%;
        font-size: 17px;
        margin-top:0px;
    }

    #articlefooterright{
        text-align: center;
    }

    #articlefooterleft{
        margin-top: 10px;
        text-align: center;
        margin-bottom: 15px;
    }

    #artigoautormobile{
        display: block;
    }

    #categorias{
        font-size: 12px;
        right: 20px;
        margin-bottom: 0;
    }

    #categoriassemrecap{
        right: 20px;
        font-size: 15px; 
        margin-bottom: 0px; 
        padding-bottom: 15px;
    }

    #recap{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 17px;
        letter-spacing: 0px;
        padding-bottom: 20px;
    }

    #aspa{
        font-size: 78px;
        margin-left: -34px;
    }

    #maincat{
        margin-bottom: 0px;
    }

    #maincatsemrecap{
        margin-bottom: 0px;
    }

    /*----------- Autor -----------*/

    #headerbluebandauthor{
        position: initial;
        left:0px;
        right: 0px;
        margin:auto;
        z-index: 1;
        margin-top: -230px;
    }

    #infoAuthorBio{
        position: relative;
        top: -74px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #artigoautorbio{
        display: none;
    }

    #bio {
        padding-top: 10px;
        width: 90%;
        font-size: 14px;
        margin: auto;
        padding-left: 0px;
        min-height: 0;
    }

    #artigoautorbiomobile{
        display: block;
        padding-bottom: 10px;
    }

    #recapAuthorBioMobile{
        display: block;
        padding-bottom: 15px;
    }

    #recapAuthorBio{
        display: none;
    }

    #recapAuthor {
        text-align: justify;
        margin: auto;
        margin-bottom: 0px;
        font-size: 18px;
    }

}


@media (min-width: 991px) and (max-width: 1600px) {

    #linksmenu{
        margin-right:auto;
    }
    
    /*----------- Artigo -----------*/

    #cabecalhoarticle{
        margin: 0;
        margin-left: 350px;
    }

    #post1{
        margin: 0;
        margin-left: 350px;
    }

    #post2{
        margin: 0;
        margin-left: 350px;
    }

    #recap{
        margin-bottom: 50px;
        margin-top: 50px;
    }

    /*----------- Autor -----------*/

    #mainarticleauthor{
        margin: 0;
        margin-left: 400px;
    }
}