<div class="modal-content" style="padding:1vw;">
  <div style="display:inline-block; width:100%;">
    <div class="col-md-12" style="text-align:center;">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <h1>Data de Publica&ccedil;&atilde;o Autom&aacute;tica</h1>
        <h5 style="margin-top:0px;  margin-top:2vh;">{{ activePost.programmed_to_post | date :  "MMM d, y - HH:mm"}}</h5>
        <input style="margin-bottom:1vh; text-align:center;" id="timepicker" type="text" class="timepicker" ng-change="updateEmailHour(autoPubHour)" ng-model="autoPubHour" placeholder=" Alterar hora"></input>
        <datepicker style="text-align:center; margin:auto; margin-bottom:4vh;" ng-model="activePost.programmed_to_post" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        <button class='btn btn-primary pull-right' style="display: inline-block;" ng-click="closeModal()">Guardar e Fechar</button>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
